export('RunDeconvMethylFun',
        'PlotDeconvMethylFun',
        'ProbeToGeneFun',
        'RunDeconvExprFun',
        'GetSampleDGenesFun',
        'SampleDeconvProfileFun',
        'GetPathFun',
        'FindSimFun',
        'GetCellLineDAFun'
);

importFrom("stats", "D", "aggregate", "cor", "na.omit")
import('grDevices',
    'readxl',
    'gsubfn',
    'xlsx',
    'utils',
    'stringr',
    'data.table',
    'parallel',
    'matrixStats',
    'RColorBrewer',
    'pathfindR',
    'pathfindR.data',
    'sqldf',
    'statmod',
    'readr',
    'Matrix',
    'matrixcalc',
    'matrixStats',
    'clue',
    'gtools',
    'quadprog',
    'matrixStats'
);

importFrom("tidyr",
        "chop",
        "complete",
        "drop_na",
        "expand_grid",
        "extract",
        "fill",
        "full_seq",
        "gather",
        "hoist",
        "nest",
        "nest_legacy",
        "pivot_longer",
        "pivot_wider",
        "replace_na",
        "separate",
        "separate_rows",
        "spread",
        "uncount",
        "unite"
);

importFrom("reshape",
    "cast",
    "colsplit.character",
    "colsplit.factor",
    "combine_factor",
    "condense.df",
    "expand.grid.df",
    "funstofun",
    "melt.array",
    "melt.data.frame",
    "melt.matrix",
    "merge_all",
    "namerows",
    "rescaler",
    "sort_df",
    "sparseby",
    "stamp",
    "uniquedefault",
    "untable"
);

importFrom("reshape2",
    "acast",
    "add_margins",
    "colsplit",
    "recast"
);


importFrom("gplots",
    "angleAxis",
    "balloonplot",
    "bandplot",
    "barplot2",
    "boxplot2",
    "colorpanel",
    "heatmap.2",
    "hist2d",
    "overplot",
    "plotCI",
    "plotmeans",
    "qqnorm.aov",
    "residplot",
    "rich.colors",
    "sinkplot",
    "space",
    "textplot",
    "venn",
    "wapply"
);
importFrom("dplyr",
    "all_vars",
    "arrange",
    "arrange_all",
    "auto_copy",
    "case_when",
    "coalesce",
    "compute",
    "copy_to",
    "cumall",
    "desc",
    "distinct",
    "distinct_all",
    "explain",
    "filter_all",
    "group_by",
    "group_by_all",
    "group_cols",
    "group_map",
    "group_split",
    "group_trim",
    "if_else",
    "mutate",
    "mutate_all",
    "na_if",
    "near",
    "nest_join",
    "nth",
    "n_distinct",
    "order_by",
    "pull",
    "recode",
    "rename",
    "rowwise",
    "select",
    "sql",
    "summarise",
    "summarise_all",
    "tbl",
    "vars"
);
importFrom("plyr",
        "aaply",
        "adply",
        "alply",
        "as.quoted",
        "a_ply",
        "colwise",
        "create_progress_bar",
        "daply",
        "ddply",
        "defaults",
        "dlply",
        "d_ply",
        "each",
        "failwith",
        "here",
        "idata.frame",
        "join",
        "join_all",
        "laply",
        "ldply",
        "liply",
        "llply",
        "l_ply",
        "maply",
        "mapvalues",
        "match_df",
        "mdply",
        "mlply",
        "m_ply",
        "name_rows",
        "progress_text",
        "progress_time",
        "progress_tk",
        "progress_win",
        "raply",
        "rbind.fill",
        "rbind.fill.matrix",
        "rdply",
        "revalue",
        "rlply",
        "round_any",
        "r_ply",
        "splat",
        "strip_splits",
        "take",
        "vaggregate"
);
